<div class="col-lg-4 col-md-4 col-12 mb-3">
  <a ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
    href="{{ .Permalink }}" class="card p-4" rel="bookmark" >
      {{ if isset .Params "featuredimage" -}}
      <div class="featuredImage mb-3">
          <img class="cld-responsive rounded single-img mx-auto d-block" data-src="https://res.cloudinary.com/witzlsperger/image/upload/w_auto,dpr_auto,c_fill,f_auto/{{.Params.featuredimage}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" {{ if isset .Params "featuredimagedescription" }}alt="{{.Params.featuredimagedescription}}"{{end}}/>
      </div>
      {{- end }}
    <article class="">
      <h3 class="h4 font-weight-bold text-dark">{{ .Title }}</h3>
      <!--<p class="card-text">{{ if (isset .Params "description") }}{{ index .Params "description" }}{{ else }}{{ .Summary }}{{ end }}</p>
      <div class="card-subtext muted-text">
        <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01.2006" }}</time></p>
        {{ if (isset .Params "categories") }}<p>{{ range .Params.categories }}#{{ . }} {{ end }}</p>{{ end }}
      </div>-->
    </article>
  </a>
</div>    